html {
  background-color: #333;
}
body {
  font-family: sans-serif;
  text-align: center;
  background: #333;
  background: linear-gradient(180deg, #333, transparent, #333);
  color: #fff;
}
h1 {
  font-weight: 300;
  font-size: 28px;
}
h1 span {
  font-weight: 400;
  color: #aaaaaacc;
}
#userName {
  font-size: 44px;
  color: #fff;
  font-weight: 400;
  margin: 0;
}
#imageGrid {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 50px auto;
  border: solid 1px #666;
  padding: 20px;
  max-width: 1200px;
}
#imageGrid div.imageContainer {
  width: 160px;
  height: 220px;
  border: solid 1px #757575;
  background: linear-gradient(45deg, #000, transparent);
}
#imageGrid > div {
  opacity: 0.33;
  transition: all 0.3s ease;
}
#imageGrid.done > div {
  opacity: 1;
}
#imageGrid.finished > div {
  opacity: 0.75;
}
#imageGrid div.selected {
  opacity: 1;
  border: solid 1px #999;
  box-shadow: 0 0 16px #000;
  transform: scale(1.25);
  font-weight: 300;
  position: absolute;
  z-index: 2;
  border-radius: 20px;
}
#imageGrid div.selected img {
  border-radius: 20px 20px 0 0;
}
#imageGrid .selected {
  animation: spinHorizontal 0.8s ease-in-out;
}
@keyframes spinHorizontal {
  from {
    transform: rotateX(270deg) scale(0.05);
  }
  to {
    transform: rotateX(0) scale(1.25);
  }
}
.imageItem {
  width: 160px;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}
.timer {
  font-size: 28px;
  font-family: monospace;
  background: #000;
  color: #999;
  margin-top: -5px;
  padding: 4px;
  border-radius: 0 0 20px 20px;
}
#selectButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#selectButton.reset {
  background-color: #2d6a2f;
}
#mainTimer {
  display: none;
  color: #666;
  margin-top: 50px;
  font-weight: 300;
}
#mainTimer.running {
  display: block;
}
#mainTimer.finished,
#mainTimer.finished > #timerDisplay {
  color: #ddd;
}
#timerDisplay {
  color: #404040;
  font-size: 100px;
  font-weight: 600;
  text-shadow: 1px 1px 0 #666;
}
.imageContainer.empty {
  font-size: 200px;
  color: #ffffff22;
}
.imageContainer.empty:first-child:after {
  content: 'J';
}
.imageContainer.empty:nth-child(2):after {
  content: 'A';
}
.imageContainer.empty:nth-child(3):after {
  content: 'V';
}
.imageContainer.empty:nth-child(4):after {
  content: 'E';
}
.imageContainer.empty:nth-child(5):after {
  content: 'L';
}
.imageContainer.empty:nth-child(6):after {
  content: 'I';
}
.imageContainer.empty:nth-child(7):after {
  content: 'N';
}
